<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">电话</dt>
                <dd>18516261826</dd>

                <dt class="text-upper">邮箱</dt>
                <dd>34106075@qq.com</dd>

                <dt class="text-upper">住址</dt>
                <dd>上海市普陀区</dd>
                
                <dt class="text-upper">个人主页</dt>
                <dd>https://sherry0520.github.io/</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
        
        <div class="col-sm-16 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">电话</dt>
                <dd>18516261826</dd>

                <dt class="text-upper">邮箱</dt>
                <dd>34106075@qq.com</dd>

                <dt class="text-upper">住址</dt>
                <dd>上海市普陀区</dd>
                
                <dt class="text-upper">个人主页</dt>
                <dd>https://sherry0520.github.io/</dd>
                
            </dl>
        </div><!-- .col-sm-16 -->
        
    </div><!-- .row -->
</section><!-- .section -->
