<section class="section brd-btm" id="basic_info">
    <div class="row">
                
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>    
        </div><!-- .col-sm-12 -->       
        
        <div class="col-sm-6 clear-mrg">

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">姓名</dt>
                <dd>薛莲</dd>
                
                <dt class="text-upper">电话</dt>
                <dd>18516261826</dd>

                <dt class="text-upper">邮箱</dt>
                <dd>34106075@qq.com</dd>

                <dt class="text-upper">住址</dt>
                <dd>上海市普陀区</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
        
        <div class="col-sm-6 offset-sm-6 clear-mrg">

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">出生年月</dt>
                <dd>Mar.1984</dd>

                <dt class="text-upper">工作年限</dt>
                <dd>16年</dd>
                
                <dt class="text-upper">毕业院校</dt>
                <dd>华东师范大学</dd>                
                
                <dt class="text-upper">学历学位</dt>
                <dd>文学学士</dd>   
              
            </dl>
        </div><!-- .col-sm-6 col-sm-6 -->  
        
    </div><!-- .row -->
</section><!-- .section -->
