<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Oct. <strong class="text-upper">2015</strong> - 至今. <strong>2021</strong></span>
                    </time>
                    <h3>上海鸿洋印刷包装制品有限公司</h3>
                    <span class="education-company">人事经理</span>
                    <p>管理和实施人力资源各项操作,参与公司人事决策</p>
                    <p>根据业务需求，提出年度人员计划及招聘需求，推进招聘实施并进行人员配置</p>
                    <p>根据核心业务部门需求，提出组织发展需求，协助组织设计并推动实施</p>
                    <p>通过主动和管理层、员工的互动，建立有效和多样化的渠道，推进企业文化建设</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>May. <strong class="text-upper">2010</strong> - Oct. <strong>2015</strong></span>
                    </time>
                    <h3>福田实业（集团）有限公司</h3>
                    <span class="education-company">招聘经理</span>
                    <p>根据企业战略规划和企业全面预算编制人力资源年度预算</p>
                    <p>根据财务预算控制人力资源成本</p>
                    <p>根据年度招聘计划拟定招聘方案，组织实施招聘活动</p>
                    <p>建立和完善公司的招聘流程和招聘体系</p>
                    <p>进行工作分析，完成岗位说明书以及简历甄别和招聘测试、面试、筛选、录用</p>
                    <p>建立后备人才选拔方案和人才储备机制</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>May. <strong class="text-upper">2006</strong> - Mar. <strong>2010</strong></span>
                    </time>
                    <h3>法国安盛集团</h3>
                    <span class="education-company">人力资源专员</span>                    
                    <p>负责公司招聘、培训、员工入职、转正、离职等工作的综合管理</p>
                    <p>做好员工考勤、奖惩管理。并调查各部门对考勤、奖惩的执行情况</p>
                    <p>相关人事工作联络以及有关疑难的解答工作</p>
                    <p>严格执行公司各项制度，各种信息及时录入，并定期整理数据，向上级领导出具数据分析结果</p>
                    <p>参与部门管理</p>
                </div>

            </div>
        </div>
    </div>
</section><!-- .section -->
