<section class="section brd-btm" id="self">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">自我评价</h2>

            <dl class="dl-horizontal clear-mrg">

                <dd class="text-upper">十年人力资源管理经验</dt>
                

                <dd class="text-upper">擅长预算与招聘及员工关系模块</dt>


                <dd class="text-upper">国家人力资源二级管理师</dt>

                
                <dd class="text-upper">心理咨询师</dt>

                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
